/* CABECALHO */
.cabecalho {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: #e9e9e9;
  border-bottom: 2px solid #f98800;
}
.logo {
  width: 120px;
  height: 120px;
}
.menu__lista {
  display: flex;
}
.menu__link {
  font-size: 28px;
  margin-right: 20px;
}
.menu__link:hover {
  color: #f98800;
  text-decoration: underline;
}

/* CONTEUDO DO SITE */
.background__container {
  background-color: #f1f1f1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.titulo-principal {
  text-align: center;
  font-size: 40px;
  padding: 60px 0px;
}
.titulo-principal span {
  color: #f98800;
}
.lista-cogumelos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cogumelos__card {
  background: #fff url("../tijolo.png") repeat;
  background-size: 80px;
  box-sizing: border-box;
  padding: 60px;
  margin-bottom: 120px;
  width: calc(50% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(218, 120, 0.1);
  border-radius: 8px;
  gap: 20px;
}
.cogumelos__card:hover {
  border: 3px solid #f98800;
}
.cogumelos__card:nth-child(2),
.cogumelos__card:nth-child(4) {
  margin-right: 0;
}
.cogumelos__card:nth-child(3),
.cogumelos__card:nth-child(4) {
  margin-bottom: 0;
}
.titulo__card {
  color: #ffffff;
  font-weight: 700;
  font-size: 44px;
}

.conteudo-principal__texto {
  margin-top: 60px;
  font-size: 32px;
  text-align: justify;
}

.mapa {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
}

.iframe-externo {
  text-align: center;
  width: 90%;
  margin-bottom: 60px;
}

/* rodape */
.rodape {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background-color: #e9e9e9;
  border-top: 2px solid #f98800;
}

.rodape address {
  font-size: 18px;
}
