.rodape {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background-color: #e9e9e9;
  border-top: 2px solid #f98800;
}

.rodape address {
  font-size: 18px;
}
