<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css
    ">
    <title>Galeria</title>
</head>

<body>
    <header class="cabecalho">

        <p>LOGO</p>
        <nav class="menu">
            <ul class="menu__lista">
                <li class="menu__item"><a class="menu__link" href="#">Sobre</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Produtos</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Contato</a></li>
            </ul>
        </nav>

    </header>

    <main class="container">
        <section class="galeria">
            <div class="galeria__imagens">
                <div class="imagem"></div>
                <p>Noticia01</p>
            </div>
            <div class="galeria__imagens">
                <div class="imagem"></div>
                <p>Noticia02</p>
            </div>
            <div class="galeria__imagens">
                <div class="imagem"></div>
                <p>Noticia03</p>
            </div>
        </section>

        <section class="galeria__secundaria">
            <div class="propaganda-principal">
                <div class="imagem__propaganda-principal"></div>
                <p>Propaganda</p>
            </div>

            <div class="propaganda-secundaria">
                <div class="container__imagem-secundaria">
                    <div class="imagem__propaganda-secundaria"></div>
                    <span>Bermudas</span>
                </div>
                <div class="container__imagem-secundaria">
                    <div class="imagem__propaganda-secundaria"></div>
                    <span>Bermudas</span>
                </div>

                <div class="container__imagem-secundaria">
                    <div class="imagem__propaganda-secundaria"></div>
                    <span>Bermudas</span>
                </div>
                <div class="container__imagem-secundaria">
                    <div class="imagem__propaganda-secundaria"></div>
                    <span>Bermudas</span>
                </div>
                <div class="container__imagem-secundaria">
                    <div class="imagem__propaganda-secundaria"></div>
                    <span>Bermudas</span>
                </div>
                <div class="container__imagem-secundaria">
                    <div class="imagem__propaganda-secundaria"></div>
                    <span>Bermudas</span>
                </div>
            </div>

        </section>

    </main>

</body>

</html>