<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css
    ">
    <title>Galeria</title>
</head>

<body>
    <header class="cabecalho">

        <p>LOGO</p>
        <nav class="menu">
            <ul class="menu__lista">
                <li class="menu__item"><a class="menu__link" href="#">Sobre</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Produtos</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Contato</a></li>
            </ul>
        </nav>


    </header>
    <main class="container">
        <section class="imagem-principal">
            <div class="imagem-principal__padrao"></div>
            <div class="imagem__legendas">
                <p>Legenda</p>
            </div>
        </section>
        <section class="propagandas">
            <div class="propagandas__secundarias">
                <div class="propagandas__secundarias__item">
                </div>
                <div class="imagem__legendas">
                    <p>Legenda</p>
                </div>
            </div>
            <div class="propagandas__secundarias">
                <div class="propagandas__secundarias__item">
                </div>
                <div class="imagem__legendas">
                    <p>Legenda</p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>