.itemListaTrabalhador {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.itemListaTrabalhador p {
  font-size: 18px;
  padding: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid black;
}
.botoes {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.botoes button {
  padding: 5px 10px;
  cursor: Pointer;
}
.containerLista {
  display: flex;
  flex-wrap: wrap;
}
.ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.li {
  margin-left: 10px;
  width: 300px;
  border: 1px solid black;
}
