header a {
  color: #000;
}

.botaoSair {
  height: 35px;
  width: 70px;
  cursor: pointer;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  background-color: #ebebeb;
}
