.botaoSair {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
  margin-top: 10px;
  padding: 5px 20px;
}
.botaoSair:hover {
  background-color: rgb(224, 224, 224);
}
.divPaiUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241, 0.5);
}
.ul {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding-left: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.li {
  display: flex;
  border-bottom: 0px;
  height: auto;
  flex-direction: column;
}

.divContainerLista {
  border: 0.5px solid black;
  width: 400px;
}
.divContainerLista p {
  border-bottom: 0.5px solid black;
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  height: 30px;
}

.divNumeroContato {
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.divNumeroContato p {
  display: flex;
  border-bottom: 0.5px solid black;
}
.p {
  border-bottom: 0px;
}
.botao {
  display: flex;
  justify-content: space-evenly;
  border-top: 0px !important;
  border: 0.5px solid black;
  padding: 5px;
}

.botao button {
  cursor: pointer;
  padding: 5px 20px;
}

.tituloLista {
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}
.tituloLista a {
  color: rgb(0, 0, 0, 0.5);
  font-weight: bold;
  border-bottom: 0.5px solid rgb(0, 0, 0);
}
.tituloLista a:hover {
  color: #000;
}
