h1,
input,
p,
button,
div,
body,
html {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 20px auto;
  width: 50vw;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  height: 100%;
}
.container__titulo {
  border-radius: 8px;
  background-color: rgb(204, 204, 204, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
}

.adicionar__produto {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.produto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.descricao__tarefa {
  height: 40px;
  outline: none;
  font-size: 24px;
  width: 90%;
}
.botao__adicionar {
  background-color: rgb(204, 204, 204, 0.2);
  font-size: 18px;
  color: rgb(0, 0, 0, 0.9);
  border: 2px solid #ccc;
  font-weight: bold;
  cursor: pointer;
  width: 44px;
  height: 44px;
  margin: 0px 10px;
}
.container__lista-tarefa__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container__lista-tarefa__item__texto {
  margin: 20px 0px;
  text-align: center;
  background-color: #f1f1f1;
  font-size: 24px;
  height: 40px;
  width: 80%;
}

.confirmar__item,
.excluir__item {
  margin: 0px 10px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: 2px solid rgb(204, 204, 204, 0.2);
  background-color: rgb(204, 204, 204, 0.2);
}
.excluir__item {
  cursor: default;
}

.selecionar {
  background-color: rgb(0, 0, 0, 0.3);
}
.selecionar > .excluir__item {
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0, 0.7);
  font-weight: bold;
  cursor: pointer;
}
